.text-input {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  vertical-align: top;
  outline: none;
  line-height: 1;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #f9f9f9;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #1f1f21;
  padding: 4px 8px 0 8px;
  margin: 0;
  font-size: 15px;
  height: 31px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.text-input::-webkit-input-placeholder,
.text-input::-moz-placeholder,
.text-input::-ms-input-placeholder {
  color: #999;
}
.text-input:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.text-input:disabled::-webkit-input-placeholder,
.text-input:disabled::-moz-placeholder,
.text-input:disabled:-ms-input-placeholder {
  color: #999;
}
.text-input:invalid {
  border: 1px solid #ddd;
  color: #1f1f21;
}