<link rel="stylesheet" href="css/profile.css">
<style>
.to-wrapper {
  line-height: 1;
  height: 62px;
  padding: 10px;
}

.to-image {
  width: 42px;
  height: 42px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.to-name {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 4px;
}

.to-email {
  font-size: 14px;
  opacity: 0.4;
}

.text-input {
  margin-top: 4px;
}

.textarea {
  margin-top: 4px;
}

.name {
  font-weight: 500;
  line-height: 16px;
  font-size: 15px;
  margin-bottom: 6px;
}

.location {
  font-size: 14px;
  opacity: 0.4;
  margin-bottom: 6px;
}

.list-item-content {
  margin-left: 10px;
  margin-right: 30px;
}

</style>
<ons-page ng-controller="dettaglioDonazioneController">
<link rel="stylesheet" href="css/inserimentoDatiAzienda.css">
 <ons-toolbar modifier="material noshadow">
      <div class="left">
      	<ons-toolbar-button modifier="material">
          <ons-back-button></ons-back-button>
        </ons-toolbar-button>
      </div>
      <div class="center">Donation</div>
      <div class="right">       
        <ons-toolbar-button modifier="material">
         
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
<div id="map_canvas_sede" style="height: 200px; width:100%; border: 1px solid gray;"></div>
<div style="padding-left: 15px;">
	<div class="name" style="text-align:center;"><h2>{{donazione.titolo}}</h2></div>
	<div class="location" style="text-align:center;">
		<i class="fa fa-map-marker"></i> {{donazione.sede.indirizzoSede}}, {{donazione.sede.comuneSede}} {{donazione.sede.provinciaSede}}
	</div>
	<div class="name"><p><strong>Description</strong>: {{donazione.descrizione}}</p></div>
	<div class="name"><p><strong><i class="fa fa-calendar"></i></strong>:{{donazione.dataInizio | date : 'dd/MM/yyyy HH:mm'}}</p></div>
	<div class="name"><p><strong><i class="fa fa-calendar"></i></strong>: {{donazione.dataFine | date : 'dd/MM/yyyy HH:mm'}}</p></div>
</div>

        <ons-list-header>Products</ons-list-header>
<ons-list>
        <ons-list-item modifier="chevron tappable" class="list-item-container"  ng-repeat="prodotto in donazione.carrelloProdottos" ng-click="changeView(prodotto.prodotto)">
            <div class="list-item-content">
          	<div class="name">
               	<p>{{prodotto.prodotto.descrizione}} </p><p> {{prodotto.pezzi}} X {{prodotto.quantita}}{{prodotto.unitaDiMisura.descrizione}}</p>
               	              </div>        
           </div>
        </ons-list-item>
	</ons-list>
<ons-fab position="right bottom">
      <ons-ripple></ons-ripple>
      <ons-icon icon="fa-cart-plus" ng-click="inserisciRichiesta()"></ons-icon>
    </ons-fab>
  </ons-page>