<link rel="stylesheet" href="css/profile.css">
<style>
.to-wrapper {
  line-height: 1;
  height: 62px;
  padding: 10px;
}

.to-image {
  width: 42px;
  height: 42px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.to-name {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 4px;
}

.to-email {
  font-size: 14px;
  opacity: 0.4;
}

.text-input {
  margin-top: 4px;
}

.textarea {
  margin-top: 4px;
}

.name {
  font-weight: 500;
  line-height: 16px;
  font-size: 15px;
  margin-bottom: 6px;
}

.location {
  font-size: 14px;
  opacity: 0.4;
  margin-bottom: 6px;
}

.list-item-container {
  font-size: 14px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 15px;
}
.list-item-content {
  margin-left: 10px;
  margin-right: 30px;
}

</style>
<ons-page ng-controller="dettaglioDonazioneController">
<link rel="stylesheet" href="css/inserimentoDatiAzienda.css">
<ons-toolbar style="height: 56px;">
		<div class="navigation-bar navigation-bar--material" style="width: 100%;">
			<div class="navigation-bar__left navigation-bar--material__left">
				<div class="navigation-bar__left navigation-bar--material__left">
    				<span class="toolbar-button toolbar-button--material">
      					<ons-back-button ></ons-back-button>
    				</span>
 				</div>
			</div>
			<div class="navigation-bar__center navigation-bar--material__center">
				Donation
			</div>
			<div class="navigation-bar__right navigation-bar--material__right">
				<i class="fa fa-trash"></i>
			</div>
		</div>
</ons-toolbar>
<div style="padding-top:30px;" id="map_canvas_sede" style="height: 200px; width:100%; border: 1px solid gray;"></div>
<div style="padding-left: 15px;">
	<div class="name" style="text-align:center;"><h2>{{donazione.titolo}}</h2></div>
	<div class="location" style="text-align:center;">
		<i class="fa fa-map-marker"></i> {{donazione.sede.indirizzoSede}}, {{donazione.sede.comuneSede}} {{donazione.sede.provinciaSede}}
	</div>
	<div class="name"><p><strong>Description</strong>: {{donazione.descrizione}}</p></div>
	<div class="name"><p><strong><i class="fa fa-calendar"></i></strong>:{{donazione.dataInizio | date : 'dd/MM/yyyy HH:mm'}}</p></div>
	<div class="name"><p><strong><i class="fa fa-calendar"></i></strong>: {{donazione.dataFine | date : 'dd/MM/yyyy HH:mm'}}</p></div>
</div>

        <ons-list-header>Products</ons-list-header>

        <ons-list-item modifier="chevron tappable" class="list-item-container"  ng-repeat="prodotto in donazione.carrelloProdottos" ng-click="dettaglioProdotto(prodotto.prodotto)">
            <div class="list-item-content">
          	<div class="name">
               	{{prodotto.prodotto.descrizione}}
               	              </div>
              <div class="location">
                 
              </div>           
           </div>
        </ons-list-item>
	</ons-list>
</ons-list>
  </ons-page>