<ons-page ng-controller="ricercaDonazioneController"> 
<ons-toolbar modifier="material noshadow">
      		<div class="left">
		<ons-toolbar-button modifier="material" ng-click="slidingMenu.openMenu();">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">Search donations</div>
      <div class="right">
         
      </div>
    </ons-toolbar>
<form id='ricercaForm' class="ricerca-form login-form"
	ng-submit="submit()">



	<input type="search" value="" name='ricerca' placeholder="Ricerca"
		id='ricerca' class="text-input--underbar">
	<br>
	<p></p>
	<input type="search" value="" ng-model="indirizzo" placeholder="Indirizzo"
		id='indirizzo'
		class="text-input--underbar"> <br>
	<br>
  <ons-list>
                <div ng-repeat="group in groups">
                    <ons-list-item ng-click="toggleGroup(group)" class="title" ng-class="{active:isGroupShown(group)}">
                	<ons-icon icon="minus-square-o" ng-if="isGroupShown(group)"></ons-icon>
                    <ons-icon icon="plus-square-o" ng-if="!isGroupShown(group)"></ons-icon> 
                    &nbsp; {{group.key}}
               		 </ons-list-item>
               		<ons-list-item class="item-accordion list__item list__item--material" ng-repeat="item in group.values" ng-show="isGroupShown(group)">
					    <div class="list__item__left list__item--material__left">
					      <label class="checkbox checkbox--material">
					        <input name='{{group.key}}' value='{{item.id}}' type="checkbox" id="{{item.id}}" class="checkbox__input checkbox--material__input" >
					        <div class="checkbox__checkmark checkbox--material__checkmark"></div>
					      </label>
					    </div>
					    <label for="{{item.id}}" class="list__item__center list__item--material__center">
					      <div class="list__item__title list__item--material__title"> {{item.name}}</div>
					    </label>
				  </ons-list-item>
				</div>
               	</ons-list>
		<br>
		<input type="text" onfocus="(this.type='date')"
			class="text-input--underbar width-full" id='dataMassima'
			placeholder="&nbsp &nbsp &nbsp &#xf073; &nbsp Data massima donazione"
			value="" required style="font-family: Arial, FontAwesome" name="data" /> <br>
		<br>
		<br>
		<br>
		<ons-button modifier="large" class="search-button" ng-click="ricerca()">Ricerca</ons-button>
</form>


</ons-page>
<ons-template id="loader.html">
	<ons-dialog var="dialog" style="background: transparent!important;background-color:rgba(255, 255, 255, 0)!important;" >
		<div align="center" style="background: transparent!important;background-color:rgba(255, 255, 255, 0)!important;">
			<svg class='progress-circular' style="background: transparent!important;background-color:rgba(255, 255, 255, 0)!important;"><circle class='progress-circular__primary' cx='50%' cy='50%' r='40%' fill='none' stroke-width='10%' stroke-miterlimit='10'/>
			</svg>
		</div>
	</ons-dialog>
</ons-template>