<ons-page ng-controller="registrationController">
<div class="navigation-bar navigation-bar--material">
	<div class="navigation-bar__left navigation-bar--material__left">
		<span class="toolbar-button toolbar-button--material"
			ng-click="slidingMenu.openMenu();"> <ons-back-button>Back</ons-back-button>
		</span>
	</div>
	<div class="navigation-bar__center navigation-bar--material__center">
		Registrazione 2/2</div>
	<div class="navigation-bar__right navigation-bar--material__right">
	</div>
</div>

<form action="registration_3.html" method="get">

	<div class="formarea">



		<p>Altre info</p>



		<div class="form-row">
			<input name="datadinascita" ng-model="user.dataNascita"  type="text" onfocus="(this.type='date')"
				class="text-input--underbar width-full"
				placeholder="&#xf073; Data di Nascita" value="" required
				style="font-family: Arial, FontAwesome" />
		</div>

		<div class="form-row" style="padding-top: 10px;">




			<ul class="list">
				<li class="list__item list__item--tappable"><label
					class="radio-button radio-button--list-item"> <input
						type="radio" name="genere" value="m" checked="checked">
						<div
							class="radio-button__checkmark radio-button--list-item__checkmark"></div>
						<ons-icon icon="fa-male" size="15px" fixed-width="false" ng-model="user.password.male" 
							style="color: grey"> </ons-icon>Male
				</label></li>
				<li class="list__item list__item--tappable"><label
					class="radio-button radio-button--list-item"> <input ng-model="user.female" 
						type="radio" name="genere" value="f">
						<div
							class="radio-button__checkmark radio-button--list-item__checkmark"></div>
						<ons-icon icon="fa-female" size="15px" fixed-width="false"
							style="color: grey"> </ons-icon>Female
				</label></li>
			</ul>
		</div>
		<div class="form-row">
			<input name="comune" type="text"  ng-model="user.comuneNascita" 
				class="text-input--underbar width-full"
				placeholder="&#xf015; Comune di Nascita" value=""
				style="font-family: Arial, FontAwesome" required>
		</div>
		<div class="form-row">
			<input
				pattern="[a-zA-Z]{6}[0-9]{2}[a-zA-Z][0-9]{2}[a-zA-Z][0-9]{3}[a-zA-Z]$"
				id="codicefiscale" name="cf" type="text"  ng-model="user.codiceFiscale" 
				class="text-input--underbar width-full"
				placeholder="&#xf15c; Codice Fiscale" value="" required
				style="font-family: Arial, FontAwesome">
		</div>
		<p>Recapiti</p>
		<div class="form-row">
			<input type="tel" name="telefono"  ng-model="user.telefono" 
				class="text-input--underbar width-full"
				placeholder="&#xf095; Telefono" value="" required
				style="font-family: Arial, FontAwesome">
		</div>
		<div class="form-row">
			<input id="email1" name="email" type="email"  ng-model="user.email" 
				class="text-input--underbar width-full" placeholder="&#xf003; Email"
				value="" required style="font-family: Arial, FontAwesome">
		</div>
		<div class="form-row">
			<input id="email2" type="email"
				class="text-input--underbar width-full" 
				placeholder="&#xf003; Retype Email" value="" required
				style="font-family: Arial, FontAwesome">
		</div>
		<br />
		<div class="form-row lucent" style="padding-top: 20px;">
			<input type="checkbox" required /><span>Accetto le condizioni
				della <span id="privacy" style="text-decoration: underline;">Privacy</span>
			</span>
		</div>
		<br />
		<button class="button--large--cta"  ng-click="pagina2(user)">Registrati</button>
		<br />
		<button ng-click="reset()" class="button--large--cta reset">Reset</button>
	</div>
</form>
</ons-page>
