<ons-page ng-controller="inserimentoDatiSedeController">
		<ons-toolbar modifier="material noshadow">
      <div class="left">
		<ons-toolbar-button modifier="material">
          <ons-back-button></ons-back-button>
        </ons-toolbar-button>
      </div>
      <div class="center">New Location</div>
      <div class="right">      
      </div>
    </ons-toolbar>
   
                <div class="formarea">
                    <form name="formsede">
                    <div class="form-row">
                      <input id="denominazione" name="denominazione" type="text" class="text-input--underbar" ng-model="nuovaSede.denominazioneSede" placeholder="Denominazione" value="" required style="font-family:Arial, FontAwesome" ng-disabled="campoDisabilitato" required>
                  </div>
                  <div class="form-row">
                      <input id="indirizzoSede" name="indirizzosede" type="text" class="text-input--underbar" ng-model="nuovaSede.indirizzoSede" placeholder="Indirizzo sede" value="" required style="font-family:Arial, FontAwesome" ng-disabled="campoDisabilitato" required>
                  </div>
                  <div class="form-row">
                      <input id="comuneSede" name="comuneSede" type="text" class="text-input--underbar" ng-model="nuovaSede.comuneSede" placeholder="Comune sede" value="" required style="font-family:Arial, FontAwesome" ng-disabled="campoDisabilitato" required>
                  </div>
                  <div class="form-row">
                      <input id="provinciaSede" name="provinciaSede" type="text" class="text-input--underbar" ng-model="nuovaSede.provinciaSede" placeholder="Provincia sede" value="" required style="font-family:Arial, FontAwesome" ng-disabled="campoDisabilitato" required>
                  </div>
                  <div class="form-row">
                      <input id="capSede" name="capSede" type="text" class="text-input--underbar" ng-model="nuovaSede.capSede" placeholder="Cap sede" value="" required style=" font-family:Arial, FontAwesome" ng-disabled="campoDisabilitato" required>
                  </div>
                  <div class="form-row">
                      <input id="note" name="note" type="text" class="text-input--underbar" ng-model="nuovaSede.note" placeholder="note" value="" required style="font-family:Arial, FontAwesome" ng-disabled="campoDisabilitato" required>
                  </div>
                  
                  <div class="form-row">
                   <ons-input type="checkbox" id="checkboxVeridicita" name="checkboxVeridicita" ng-model="checkboxVeridicita" ng-disabled="campoDisabilitato" ng-checked="statoCheckbox">Flag veridicita'</ons-input>
                   </div>
                   <div ng-show="(!formsede.$valid || !checkboxVeridicita) && formsede.$dirty" style="color:red;font-size: 12px;">Riempire tutti i campi</div>   
                    
                     <ons-button id="aggiungibutton"  ng-click ="clickAggiungi(nuovaSede)" modifier="large--cta" ng-disabled="aggiungiDisabilitato || (!formsede.$valid || !checkboxVeridicita)"  >Aggiungi</ons-button>
                    
                    </form>
                    </div>
     <!--               <ons-button id="provabutton"  ng-click ="provaGeo()" modifier="large--cta">PROVA</ons-button>             -->
    
             
  </body>

     
  </ons-page>
  
  
