<link rel="stylesheet" href="css/profile.css">
<style>
.to-wrapper {
  line-height: 1;
  height: 62px;
  padding: 10px;
}

.to-image {
  width: 42px;
  height: 42px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.to-name {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 4px;
}

.to-email {
  font-size: 14px;
  opacity: 0.4;
}

.text-input {
  margin-top: 4px;
}

.textarea {
  margin-top: 4px;
}

.name {
  font-weight: 500;
  line-height: 16px;
  font-size: 15px;
  margin-bottom: 6px;
}

.location {
  font-size: 14px;
  opacity: 0.4;
  margin-bottom: 6px;
}

.list-item-container {
  font-size: 14px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 15px;
}
.list-item-content {
  margin-left: 10px;
  margin-right: 30px;
}

</style>
<ons-page ng-controller="datiAziendaController">
<link rel="stylesheet" href="css/inserimentoDatiAzienda.css">
<ons-toolbar style="height: 56px;">
		<div class="navigation-bar navigation-bar--material" style="width: 100%;">
			<div class="navigation-bar__left navigation-bar--material__left">
				<div class="navigation-bar__left navigation-bar--material__left">
    				<span class="toolbar-button toolbar-button--material" ng-click="slidingMenu.openMenu();">
      					<i class="zmdi zmdi-menu"></i>
    				</span>
 				</div>
			</div>
			<div class="navigation-bar__center navigation-bar--material__center">
				My Company
			</div>
		</div>
</ons-toolbar>
<ons-list modifier="inset" style="margin-top: 10px"> 
<ons-list-item>
<strong>Denominazione</strong> : {{azienda[0].denominazione}}</ons-list-item> 
<ons-list-item>
<strong>Sede legale</strong> : {{azienda[0].sedeLegale}}</ons-list-item> 
<ons-list-item>
<strong>Natura giuridica</strong> : {{azienda[0].natGiud1lvl.descrizione}}</ons-list-item> <ons-list-item>
<strong>Tipo azienda</strong> : {{azienda[0].tipoAzienda.descrizione}}</ons-list-item> <ons-list-item>
<strong>Tax</strong> : {{azienda[0].cf}} </ons-list-item> <ons-list-item> 
<strong>Description</strong> : {{azienda[0].note}} </ons-list-item> 
<ons-list>
		
        <ons-list-header>Locations</ons-list-header>

        <ons-list-item modifier="chevron tappable" class="list-item-container"  ng-repeat="sede in sedi" ng-if="azienda[0].idAzienda==sede.azienda.idAzienda") ng-click="selezionaSede(sede)">
            <div class="list-item-content">
          	<div class="name">
               	{{sede.denominazioneSede}}
              </div>
              <div class="location">
                <i class="fa fa-map-marker"></i>  {{sede.indirizzoSede}} , {{sede.comuneSede}} {{sede.provinciaSede}} 
              </div>           
           </div>
        </ons-list-item>
         <ons-list-item modifier="chevron tappable" class="list-item-container" ng-click="myNavigator.pushPage('html/AlbertoChiara/inserimento_dati_sede.html')">
            <div class="list-item-content">
          	<div class="name">
               Add a location
              </div>
              <div class="location">
              </div>           
           </div>
        </ons-list-item>
	</ons-list>
</ons-list>
	<ons-fab position="right bottom">
      <ons-ripple></ons-ripple>
      <ons-icon icon="md-edit"></ons-icon>
    </ons-fab>
  </ons-page>
  
  
