<link rel="stylesheet" href="css/profile.css">
<style>
.to-wrapper {
  line-height: 1;
  height: 62px;
  padding: 10px;
}

.to-image {
  width: 42px;
  height: 42px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.to-name {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 4px;
}

.to-email {
  font-size: 14px;
  opacity: 0.4;
}

.text-input {
  margin-top: 4px;
}

.textarea {
  margin-top: 4px;
}

.name {
	font-weight: 500;
	line-height: 16px;
	font-size: 15px;
	margin-bottom: 6px;
}

.location {
	font-size: 14px;
	opacity: 0.4;
	margin-bottom: 6px;
}

.nuovaDon {
	text-align: center;
	width: 80%;
	margin: 10px auto 0;
}
</style>
<ons-page ng-controller="datiSedeController">
<link rel="stylesheet" href="css/inserimentoDatiAzienda.css">
<ons-toolbar style="height: 56px;">
		<div class="navigation-bar navigation-bar--material" style="width: 100%;">
			<div class="navigation-bar__left navigation-bar--material__left">
				<div class="navigation-bar__left navigation-bar--material__left">
    				<span class="toolbar-button toolbar-button--material"> 
						<ons-back-button></ons-back-button>
					</span>
 				</div>
			</div>
			<div class="navigation-bar__center navigation-bar--material__center">
				Location
			</div>
		</div>
</ons-toolbar>
<div id="map_canvas_sede" style="padding-top:10px;height: 300px; width:100% border: 1px solid gray"></div>
<div class="nuovaDon">
<div class="name"><h3>{{sede.denominazioneSede}}</h3></div>
	<div class="location">
		<i class="fa fa-map-marker"></i>  {{sede.indirizzoSede}}, {{sede.comuneSede}} {{sede.provinciaSede}}
	</div>
	
</div>
<ons-list>
<ons-list-header>Donations</ons-list-header>
        <ons-list-item ng-repeat="carrello in carrelli" modifier="chevron" class="list-item-container"  >
          <ons-row >
            <ons-col width="95px"  ng-if="carrello.immagine">
              <img ng-src="data:image/JPEG;base64,{{carrello.immagine}}">
            </ons-col>
            <ons-col>
              <div class="name">
                <b>{{carrello.titolo}} <span style="float:right; color: green;" ng-if="date<carrello.dataFine">Aperto</span> <span style="float:right; color: red;" ng-if="date>=carrello.dataFine">Chiuso</span>
              	</b>
              </div>
              <div class="name">
                {{carrello.dataInizio | date : 'dd/MM/yyyy HH:mm'}} - {{carrello.dataFine | date : 'dd/MM/yyyy HH:mm'}}
              </div>
              <div class="location">
                <i class="fa fa-map-marker"></i> {{carrello.sede.denominazioneSede}}
              </div>
              <div class="desc">
                 {{carrello.descrizione}}
              </div>
              <br>
            </ons-col>
          </ons-row>
        </ons-list-item>
		<ons-list-item ng-if="!carrelli"class="list-item-container"  >
          <ons-row >
            <ons-col width="95px"  >         
            </ons-col>
            <ons-col>
              <div class="name">
                <b> There are no donations available for this location</b>
              </div>
            </ons-col>
          </ons-row>
        </ons-list-item>
</ons-list>
	<ons-fab position="right bottom">
      <ons-ripple></ons-ripple>
      <ons-icon icon="md-edit"></ons-icon>
    </ons-fab>
</ons-page>
  
  
