<ons-page ng-controller="donazioneController">
	<ons-toolbar modifier="material noshadow">
      <div class="left">
      	<ons-toolbar-button modifier="material">
          <ons-back-button></ons-back-button>
        </ons-toolbar-button>
      </div>
      <div class="center">Insert products</div>
      <div class="right">    
      	<ons-toolbar-button>
              <ons-icon icon="fa-floppy-o" ng-click="myNavigator.pushPage('html/AndreaGianmarco/conferma_donazione.html')" ></ons-icon>
        </ons-toolbar-button>   
      </div>
    </ons-toolbar>
 <ons-list>
		
        <ons-list-header>Seleziona i prodotti</ons-list-header>

	<ons-list-item style="height:100px;" ng-repeat="prodotto in prodotti" >
	<div style="width="10%" ng-click="changeView(prodotto)" >
		<img width="40" height="40"	ng-src="data:image/JPEG;base64,{{prodotto.immagine}}">
	</div>
	<div style="width:70%" ng-click="changeView(prodotto)">
		<div style="padding:5px;">
			<div class="nomeprodotto"><strong>{{prodotto.nome}}</strong></div>
			<span class="descrizioneprodotto">{{prodotto.pezzi}} X {{prodotto.quantita}}</span>
		</div>
	</div>
	<div style="width="10%; float:right;">
		<ons-icon  icon="fa-cart-plus" size="40px" class="ons-icon fa-cart-plus fa" _compiled="" style="font-size: 40px;position: absolute;right: 8px;top: 30px;"></ons-icon>
	</div>
	</ons-list-item> </ons-list>
	</ons-list>      
	    <ons-fab position="right bottom">
      <ons-ripple></ons-ripple>
      <ons-icon icon="fa-cart-plus" ng-click="inserisciProdotto()"></ons-icon>
    </ons-fab>
	
</ons-page>