<style>
.name {
  font-weight: 500;
  line-height: 16px;
  font-size: 15px;
  margin-bottom: 6px;
}

.location {
  font-size: 14px;
  opacity: 0.4;
  margin-bottom: 6px;
}

.list-item-container {
  font-size: 14px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.list-item-content {
  margin-left: 50px;
  margin-right: 30px;
}
</style>
  <ons-page ng-controller="forgotPasswordController">
  <div class="navigation-bar navigation-bar--material">
  <div class="navigation-bar__left navigation-bar--material__left">
    <span class="toolbar-button toolbar-button--material" ng-click="slidingMenu.openMenu();">
	<ons-back-button>Back</ons-back-button>
    </span>
  </div>
  <div class="navigation-bar__center navigation-bar--material__center">
    Reset password
  </div>
  <div class="navigation-bar__right navigation-bar--material__right">
  </div>
</div>
 <div class="login-form">
<br>
<br>
<br>
<input id="id" class="text-input--underbar" placeholder="Email" value="utente3" ng-model="field1" >
<br>
<br>
<br>
<button class="button--large--cta"  ng-click="console.log('BABBO'); myNavigator.pushPage('index.html')">Reset</button>
</div>
</ons-page>