
<style>
.switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  overflow: hidden;
  min-width: 51px;
  font-size: 17px;
  padding: 0 20px;
  border: none;
  overflow: visible;
  width: 51px;
  height: 32px;
  z-index: 0;
  text-align: left;
}
.switch__input {
  position: absolute;
  overflow: hidden;
  right: 0px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  padding: 0;
  border: 0;
  opacity: 0.001;
  z-index: 1;
  vertical-align: top;
  outline: none;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
  z-index: -1;
}
.switch__toggle {
  background-color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-box-shadow: inset 0 0 0 2px #e5e5e5;
  box-shadow: inset 0 0 0 2px #e5e5e5;
}
.switch__handle {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: absolute;
  content: '';
  -webkit-border-radius: 28px;
  border-radius: 28px;
  height: 28px;
  width: 28px;
  background-color: #fff;
  left: 1px;
  top: 2px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: cubic-bezier(0.59, 0.01, 0.5, 0.99);
  -moz-transition-timing-function: cubic-bezier(0.59, 0.01, 0.5, 0.99);
  -o-transition-timing-function: cubic-bezier(0.59, 0.01, 0.5, 0.99);
  transition-timing-function: cubic-bezier(0.59, 0.01, 0.5, 0.99);
  -webkit-box-shadow: 0 0 0 1px #e4e4e4, 0 3px 2px rgba(0,0,0,0.25);
  box-shadow: 0 0 0 1px #e4e4e4, 0 3px 2px rgba(0,0,0,0.25);
}
.switch--active .switch__handle {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
input:checked + .switch__toggle {
  -webkit-box-shadow: inset 0 0 0 2px #5198db;
  box-shadow: inset 0 0 0 2px #5198db;
  background-color: #5198db;
}
input:checked + .switch__toggle .switch__handle {
  left: 21px;
  -webkit-box-shadow: 0 3px 2px rgba(0,0,0,0.25);
  box-shadow: 0 3px 2px rgba(0,0,0,0.25);
}
input:disabled + .switch__toggle {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.switch__touch {
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -10px;
  right: -10px;
}
.switch.switch--material {
  width: 36px;
  height: 24px;
  padding: 0 10px;
  min-width: 36px;
}
.switch.switch--material .switch__toggle {
  background-color: #b0afaf;
  margin-top: 5px;
  height: 14px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.switch.switch--material .switch__input {
  position: absolute;
  overflow: hidden;
  right: 0px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  padding: 0;
  border: 0;
  opacity: 0.001;
  z-index: 1;
  vertical-align: top;
  outline: none;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
  z-index: -1;
}
.switch.switch--material .switch__handle {
  background-color: #f1f1f1;
  left: 0px;
  margin-top: -5px;
  width: 20px;
  height: 20px;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.4);
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.4);
}
.switch.switch--material input:checked + .switch__toggle {
  background-color: #77c2bb;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.switch.switch--material input:checked + .switch__toggle .switch__handle {
  left: 16px;
  background-color: #009688;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.switch.switch--material input:disabled + .switch__toggle {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.switch.switch--material .switch__handle:before {
  background: transparent;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: -1;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.12);
  -webkit-transition: -webkit-box-shadow 0.1s linear;
  -moz-transition: box-shadow 0.1s linear;
  -o-transition: box-shadow 0.1s linear;
  transition: box-shadow 0.1s linear;
}
.switch.switch--material.switch--active .switch__handle:before {
  -webkit-box-shadow: 0px 0px 0px 14px rgba(0,0,0,0.12);
  box-shadow: 0px 0px 0px 14px rgba(0,0,0,0.12);
}
.switch.switch--material.switch--active input:checked + .switch__toggle .switch__handle:before {
  -webkit-box-shadow: 0px 0px 0px 14px #009688;
  box-shadow: 0px 0px 0px 14px #009688;
}
.switch.switch--material .switch__touch {
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -15px;
  right: -15px;
}

.name {
	font-weight: 500;
	line-height: 16px;
	font-size: 15px;
	margin-bottom: 6px;
}

.location {
	font-size: 14px;
	opacity: 0.4;
	margin-bottom: 6px;
}

#sede {
	width: 100%;
	background-color: #1E90FF;
	border-radius: 10px 10px 10px 10px;
	text-align: center;
	margin-bottom: 40px;
}

.nuovaDon {
	text-align: center;
	width: 80%;
	margin: 60px auto 0;
}

#aaa {
	width: 100%;
	height: 40px;
	border-radius: 10px 10px 10px 10px;
	text-align: center;
}

.switch {
	margin-left: 20px;
}

#fileField {
	display: default;
}
</style>
<ons-page ng-controller="donazioneController" > 
	<ons-toolbar style="height: 56px; style="width: 100%;">
		<div class="navigation-bar navigation-bar--material" style="width: 100%;">
			<div class="navigation-bar__left navigation-bar--material__left">
				<span class="toolbar-button toolbar-button--material"> 
					<ons-back-button ></ons-back-button>
				</span>
			</div>
			<div class="navigation-bar__center navigation-bar--material__center">
				Nuova donazione
			</div>
		</div>
	</ons-toolbar>
<form  name="myForm" class="nuovaDon" style="height:100%;">
	<div class="name">{{sede.azienda.denominazione}} - {{sede.denominazioneSede}}</div>
	<div class="location">
		<i class="fa fa-map-marker"></i> {{sede.indirizzoSede}} , {{sede.comuneSede}} {{sede.provinciaSede}}
	</div>
	<input ng-model="donazione.titolo"  id="titolo" type="text" class="text-input--underbar" placeholder="Title" style="text-align: left;" value=""> 
	<span style="font-size: 10px; color: red;" ng-show="!newproduct.title && prodottoinviato">Required field</span> <br>
	<br>
	<textarea ng-model="donazione.descrizione" placeholder="Descrizione" class="textarea textarea--transparent" style="border:1px solid #ddd; width: 100%; height: 50px; margin-top: 4px;">
	</textarea>
	<br>
	<br>
	<input ng-model="donazione.dataInizio" type="date" name="dataInizio"  value="{{ date | date: 'yyyy-MM-dd' }}"  class="text-input--underbar width-full" /> 
	<br> 
	<br>
	<input ng-model="donazione.dataFine" type="date" name="dataFine" value="{{ date | date: 'yyyy-MM-dd' }}"  class="text-input--underbar width-full" /> 
	<br>
	<br>
	<label class="switch switch--material">
  		<input ng-model="donazione.flagIndivisibile" type="checkbox" class="switch__input switch--material__input">
  		<div class="switch__toggle switch--material__toggle">
   	 		<div class="switch__handle switch--material__handle">
    		</div>
  		</div>
	</label>
	<label>&nbsp &nbsp The donation is divisible </label>
	<br>
	<br>
	<ons-button modifier="large" class="search-button" ng-click="creaCarrello(donazione)">Inserisci i prodotti</ons-button>
		<br>
	<br>
	</form>
</ons-page>
