<style>
.list-item-container {
  line-height: 1;
  padding: 15px 0px 15px 15px;
}

.thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.name {
  font-weight: 500;
  line-height: 16px;
  font-size: 15px;
  margin-bottom: 6px;
}

.location {
  font-size: 14px;
  opacity: 0.4;
  margin-bottom: 6px;
}

.desc {
  line-height: 1.2;
  font-size: 13px;
}

.reply-notification {
  position: absolute;
  top: 28px;
  font-size: 10px;
  font-weight: 600;
  height: 13px;
  line-height: 13px;
  padding: 0 4px;
  min-width: 13px;
  margin-left: 18px;
}

.tab-icon {
  font-size: 28px;
  vertical-align: -4px;
}

.button--material--flat {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: auto;
  text-decoration: none;
  padding: 4px 10px;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: 0;
  color: #fff;
  vertical-align: middle;
  background-color: rgba(24,103,194,0.81);
  border: 0px solid currentColor;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  min-height: 36px;
  line-height: 36px;
  padding: 0px 16px;
  -webkit-transition: -webkit-box-shadow 0.2s ease;
  -moz-transition: box-shadow 0.2s ease;
  -o-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  text-align: center;
  font-size: 14px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  text-transform: uppercase;
  background-color: rgba(24,103,194,0.81);
  color: #ffffff;
  font-family: 'Roboto', 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  color: rgba(24,103,194,0.81);
}
.button--material--flat:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  color: rgba(24,103,194,0.81);
  outline: 0;
  opacity: 1;
  border: none;
}
.button--material--flat:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  color: rgba(24,103,194,0.81);
  outline: 0;
  opacity: 1;
  border: none;
}
.button--material--flat:disabled,
.button--material--flat[disabled] {
  opacity: 0.5;
  -webkit-box-shadow: none;
  box-shadow: none;
}
</style>
<ons-page ng-controller="richiesteDonatoreController">

<ons-toolbar style="height: 56px;">
		<div class="navigation-bar navigation-bar--material" style="width: 100%;">
			<div class="navigation-bar__left navigation-bar--material__left">
				<div class="navigation-bar__left navigation-bar--material__left">
    				<span class="toolbar-button toolbar-button--material" ">
      					<ons-back-button></ons-back-button>
    				</span>
 				</div>
			</div>
			<div class="navigation-bar__center navigation-bar--material__center">
				Received requests
			</div>
		</div>
	</ons-toolbar>
<br>
<ons-list>
        <ons-list-item ng-repeat="richiesta in richieste"  ng-if="(!richiesta.dataAccettazione)" class="list-item-container" >
          <ons-row >
            <ons-col>
              <div class="name">
                <b>{{richiesta.titolo}} {{richiesta.utente}} </b>
              </div>
              <div class="name" ng-if="richiesta.dataRitiro">
                	 <i class="fa fa-calendar"></i> {{richiesta.dataRitiro | date:"dd/MM/yyyy HH:mm"}}
              </div> 
              <div class="location">
                <i class="fa fa-map-marker"></i> {{richiesta.sede}}
              </div>
              <div class="desc">
               	{{richiesta.descrizione}}
              </div>
              <div class="desc">
               	{{richiesta.prodotto}} x {{richiesta.pezzi}}
              </div>
              <br>
            </ons-col>
            <ons-col width="80px">
            	<button class="button button--material--flat">View</button>
            	<br>
            	<button class="button button--material--flat">Accept</button>
            	<br>
            	<button class="button button--material--flat">Reject</button>
            </ons-col>
          </ons-row>
        </ons-list-item>
 </ons-list>
 
 </ons-list> 
 
 <ons-list ng-if="!richieste">
 <ons-list-item	 class="list-item-container"> 
<div class="list-item-left">

</div>
<div class="list-item-right" >
	<div class="list-item-content">
		<div class="name">
			Not requests found
		</div>

		<div>
			
		</div>
	</div>
</div>
</ons-list-item> 
 </ons-list> 
 
 
 </ons-page>