<ons-page ng-controller="storicoRichiesteController">
		<ons-toolbar modifier="material noshadow">
            <div class="left">
      	<ons-toolbar-button modifier="material">
          <ons-back-button></ons-back-button>
        </ons-toolbar-button>
      </div>
      <div class="center">Request accepted</div>
      <div class="right">      
      </div>
    </ons-toolbar>
<ons-list>
        <ons-list-item ng-repeat="richiesta in richieste"  ng-if="richiesta.dataAccettazione" class="list-item-container" >
          <ons-row >
            <ons-col>
              <div class="name">
                <b>{{richiesta.titolo}} </b>
              </div>
              <div class="name">
                	 <i class="fa fa-calendar-check-o"></i> {{richiesta.dataAccettazione | date:"dd/MM/yyyy HH:mm"}}
              </div>
              <div class="name">
                	 <i class="fa fa-truck"></i> {{richiesta.dataRitiro | date:"dd/MM/yyyy HH:mm"}}
              </div>
              <div class="location">
                <i class="fa fa-map-marker"></i> {{richiesta.sede}}
              </div>
              <div class="desc">
               	{{richiesta.descrizione}}
              </div>
              <div class="desc">
               	{{richiesta.prodotto}} x {{richiesta.pezzi}}
              </div>
              <br>
            </ons-col>
            <ons-col width="40px"></ons-col>
          </ons-row>
        </ons-list-item>
 </ons-list>
 
 </ons-list> 
 
  <ons-list ng-if="!richieste || richieste.lenght==0">
 <ons-list-item	 class="list-item-container"> 
<div class="list-item-left">

</div>
<div class="list-item-right" >
	<div class="list-item-content">
		<div class="name">
			No data has been found
		</div>

		<div>
			
		</div>
	</div>
</div>
</ons-list-item> 
 </ons-list> 
 
 
 </ons-page>