<style>
.list-item-container {
  line-height: 1;
  padding: 15px 0px 15px 15px;
}

.thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.name {
  font-weight: 500;
  line-height: 16px;
  font-size: 15px;
  margin-bottom: 6px;
}

.location {
  font-size: 14px;
  opacity: 0.4;
  margin-bottom: 6px;
}

.desc {
  line-height: 1.2;
  font-size: 13px;
}



</style>
<ons-page ng-controller="listaDonazioniController">

<ons-toolbar style="height: 56px;">
		<div class="navigation-bar navigation-bar--material" style="width: 100%;">
			<div class="navigation-bar__left navigation-bar--material__left">
				<div class="navigation-bar__left navigation-bar--material__left">
    				<span class="toolbar-button toolbar-button--material" ng-click="slidingMenu.openMenu();">
      					<i class="zmdi zmdi-menu"></i>
    				</span>
 				</div>
			</div>
			<div class="navigation-bar__center navigation-bar--material__center">
				My Donations
			</div>
		</div>
</ons-toolbar>
<br>
<ons-list>
        <ons-list-item ng-repeat="carrello in carrelli" modifier="chevron" class="list-item-container"  ng-click="changeView(carrello);">
          <ons-row >
            <ons-col width="95px"  ng-if="carrello.immagine">
              <img ng-src="data:image/JPEG;base64,{{carrello.immagine}}">
            </ons-col>
            <ons-col>
              <div class="name">
                <b>{{carrello.titolo}} <span style="float:right; color: green;" ng-if="date<carrello.dataFine">Aperto</span> <span style="float:right; color: red;" ng-if="date>=carrello.dataFine">Chiuso</span>
              	</b>
              </div>
              <div class="name">
                {{carrello.dataInizio | date : 'dd/MM/yyyy HH:mm'}} - {{carrello.dataFine | date : 'dd/MM/yyyy HH:mm'}}
              </div>
              <div class="location">
                <i class="fa fa-map-marker"></i> {{carrello.sede.denominazioneSede}}
              </div>
              <div class="desc">
                 {{carrello.descrizione}}
              </div>
              <br>
            </ons-col>
            <ons-col width="40px"></ons-col>
          </ons-row>
        </ons-list-item>
 </ons-list>
 </ons-page>


