<ons-page ng-controller="listaDonazioniController">
<ons-toolbar modifier="material noshadow">
      		<div class="left">
		<ons-toolbar-button modifier="material" ng-click="slidingMenu.openMenu();">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">Last donations</div>
      <div class="right">
         
      </div>
    </ons-toolbar>
<ons-list>
	 <ons-list-header>Your last donations</ons-list-header>
        <ons-list-item ng-repeat="carrello in carrelli" modifier="chevron" class="list-item-container"  ng-click="changeView(carrello);">
          <ons-row >
            <ons-col width="95px"  ng-if="carrello.immagine">
              <img ng-src="data:image/JPEG;base64,{{carrello.immagine}}">
            </ons-col>
            <ons-col>
              <div class="name">
                <b>{{carrello.titolo}} <span style="float:right; color: green;" ng-if="date<carrello.dataFine">Aperto</span> <span style="float:right; color: red;" ng-if="date>=carrello.dataFine">Chiuso</span>
              	</b>
              </div>
              <div class="name">
                <i class="fa fa-calendar"></i>  {{carrello.dataInizio | date : 'dd/MM/yyyy HH:mm'}} 
              </div>
              <div class="name">
                <i class="fa fa-calendar"></i>  {{carrello.dataFine | date : 'dd/MM/yyyy HH:mm'}}
              </div>
              <div class="location">
                <i class="fa fa-map-marker"></i> {{carrello.sede.denominazioneSede}}
              </div>
            </ons-col>
          </ons-row>
        </ons-list-item>
 </ons-list>
  <ons-list ng-if="!carrelli || carrelli.lenght==0">
 <ons-list-item	 class="list-item-container"> 
<div class="list-item-left">

</div>
<div class="list-item-right" >
	<div class="list-item-content">
		<div class="name">
			No data has been found
		</div>

		<div>
			
		</div>
	</div>
</div>
</ons-list-item> 
 </ons-list> 
 </ons-page>


